body {
    margin: 0px;
    background-color: #F2F2F2;
}

.header {
    background-color: #94BDF2;
    height: 250px;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 0px;
    font-family: fantasy;
}

.header img {
    width: 200px;
}

.header a {
    color: black;
    font-family: Arial;
    font-weight: bold;
}

.links {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 1340px;
    height: 600px;
    border-radius: 32px;
    margin-top: 20px;
}
